
<script src="~/Content/Site.css"></script>
<table style="width: 100%;">
    <thead>
    <tr></tr>
    <tr>
        <p>
            <ul>
                <li class="li-align">@Html.ActionLink("Home", "Index", "Game")</li>
                <li class="li-align">@Html.ActionLink("Add", "Create", "GameManager")</li>
            </ul>
        </p>
    </tr>
    </thead>
</table>